
.container-fluid {
    position: relative; /* Per consentire il posizionamento assoluto all'interno */
    padding: 0px;
}

.text-title {
    position: absolute; /* Posizionamento assoluto rispetto al contenitore padre */
    top: 50%; /* Sposta il testo al centro verticalmente */
    left: 50%; /* Sposta il testo al centro orizzontalmente */
    transform: translate(-50%, -50%); /* Centra il testo esattamente al centro */
    text-align: center; /* Centra il testo orizzontalmente */
    color: white; /* Colore del testo */
    font-size: 24px; /* Dimensione del testo */
    font-family: "Permanent Marker", cursive;
}

.text-red{
    color: red;
}

.text h1{
    font-family: "Permanent Marker", cursive ;
}

h1, p{
    text-align: center;
}

#how-work{
    font-weight: bold;
    font-family: "Oswald", sans-serif;
}

.card{
    width: 300px;
    height: 300px;
    border: 1px solid rgb(144, 114, 114);
    border-radius: 10%;
}

.card-container{
    margin-top: 10px;
    display: flex;
    justify-content: center;

}

.sub-container{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.icon{
    width: 200px;
    height: 200px;
}

.img-card{
    display: flex;
    justify-content: center;
}

.text-card{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}



.mete{
    margin-top: 50px;
   
    background-color: black;
}

#h2-title-mete{
    color: white;
    font-family: "Permanent Marker", cursive;
    
}

.text-title-mete{
    display: flex;
    justify-content: center;
    width: 100%;
    
}

h2#h2-title-mete{
    margin-top: 30px;
    text-align: center;
}

div.box-mete{
    display: grid;
    grid-template-rows: 341px 341px 341px;
    grid-template-columns: 326px 326px 326px;
    gap: 15px;
    border-radius: 10px 0px 0px 0px;
}

div.container-box-mete{
    height: 800px;
}

div.item{
    border: 1px solid black;
    position: relative;
    
    
}

.image-wrapper{
    position:relative;
    display: inline-block;
}

.image-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Cambia il valore dell'opacità qui */
}

div.container-box-mete{
    display: flex;
    justify-content: center;
}

.item img{
    height: 341px;
    width: 326px;
    border-radius: 10%;
}



.image-text {
    position: absolute;
    top: 50%; /* Posiziona il testo al centro verticalmente */
    left: 50%; /* Posiziona il testo al centro orizzontalmente */
    transform: translate(-50%, -50%); /* Sposta il testo indietro di metà della sua larghezza e altezza per centrarlo perfettamente */
    font-size: 60px;
    color: white; /* Colore del testo */
    padding: 5px 10px; /* Spaziatura interna */
    font-family: "Permanent Marker", cursive;
}

.centered-button {
  position: absolute;
   top: 250px;
   left: 71px;
   right: 71px;
  
   background: none;
   border: 1px solid white;
   border-radius: 10%;
   padding: 10px;

}

button.centered-button a{
    color: white;
    text-decoration: none;
    font-family:  "Permanent Marker", cursive;
}

div.text-title-question{
    display: flex !important;
    justify-content: center !important;
    margin-top: 25px;
    margin-bottom: 25px;
   
}

div.text-title-question h3{
    font-family: "Permanent Marker", cursive;
}

.container-box-domande{
    display: flex;
    justify-content: center;
    margin: 10px auto;
    
    
}

.common-questions{
   
    height: 300px;
}



#accordionExample{
    width: 600px;
}

.accordion-body p{
    text-align: left;
}







/* Stili per schermi di dimensioni inferiori o uguali a 600px */
@media screen and (max-width: 1000px) {
    .sub-container {
        display: flex;
        flex-direction: column; /* Le card saranno disposte in colonna */
        align-items: center;


        
    }

    .card {
        width: 70%; /* Le card occuperanno tutta la larghezza disponibile */
        margin-bottom: 20px; /* Spazio tra le card */

    }
}

/* Stili per schermi di dimensioni tra 601px e 992px */
@media screen and (min-width: 601px) and (max-width: 992px) {
    #how-work {
        text-align: center; /* Centra il testo */
    }
}

/* Stili per schermi di dimensioni superiori a 992px */
@media screen and (min-width: 993px) {
    .text {
        max-width: 800px; /* Limita la larghezza del testo */
        margin: 0 auto; /* Centra il contenuto */
    }
}

@media screen and (max-width: 1000px) {
    div.container-box-mete{
        height: 2200px;
    }
    div.box-mete {
        grid-template-columns: 1fr !important; /* Griglia 1x9 su schermi più piccoli */
        

    }

    .item img{
        width: calc(326px * 0.8); /* Riduzione dell'ampiezza del 20% */
        height: calc(341px * 0.8); /* Riduzione dell'altezza del 20% */
        border-radius: 10%;
    }

    .centered-button {
        position: absolute;
         top: 150px;
         left: 31px;
         right: 71px;
         width: 200px;
         background: none;
         border: 1px solid white;
         border-radius: 10%;
         padding: 10px;
      
      }

      .image-text {
        position: absolute;
        top: 100px;
        transform: translate(-50%, -50%); /* Sposta il testo indietro di metà della sua larghezza e altezza per centrarlo perfettamente */
        font-size: 50px;
        color: white; /* Colore del testo */
        padding: 5px 10px; /* Spaziatura interna */
        font-family: "Permanent Marker", cursive;
    }
}



@media (max-width: 768px) {
    .img-fluid {
      height: 50vh; /* Altezza del 50% della viewport height */
      width: auto; /* Mantenere l'aspetto proporzionato */
    }
}




